html,
* {
    box-sizing: border-box;
}

body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
}

.tldraw_example {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    height: 500px;
    border: 1px solid black;
}
