html,
* {
    box-sizing: border-box;
}

body {
    overscroll-behavior: none;
    margin: 0px;
    padding: 0px;
}

.tldraw_example {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 500px;
    border: 1px solid black;
}
